@{
    Layout = "_ColumnsOne";

    Html.AppendCssFileParts("~/Themes/Pavilion/Content/css/owl.carousel.css");
    Html.AddScriptParts(ResourceLocation.Footer, "~/Themes/Pavilion/Content/scripts/owl.carousel.min.js");

    //page class
    Html.AppendPageCssClassParts("html-home-page");
}

<div class="page home-page">
    <div class="page-body">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageTop })
        @await Component.InvokeAsync("TopicBlock", new { systemName = "HomePageText" })
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeCategories })
        @await Component.InvokeAsync("HomepageCategories")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeProducts })
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeBestSellers })

        <div class="homepage-middle-wrapper">
            @await Component.InvokeAsync("HomepageBestSellers")
            @await Component.InvokeAsync("Widget", new { widgetZone = "pavilion_home_page_richblog" })
        </div>

        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforeNews })
        @await Component.InvokeAsync("HomepageNews")
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBeforePoll })
        @await Component.InvokeAsync("HomepagePolls")

        <div class="homepage-bottom-wrapper">
            @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomePageBottom })
            <div class="homepage-maps">
                @await Component.InvokeAsync("TopicBlock", new { systemName = "StoreMapAddress" })
            </div>
            <div class="homepage-fanpage">
                <div class="topic-block-title">
                    <h2>@T("HomePage.FacebookFanpage.Title")</h2>
                </div>
                <div id="fb-root"></div>
                <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v4.0&appId=2200340533598374&autoLogAppEvents=1"></script>
                <div class="fb-page" data-href="https://www.facebook.com/noithatchungcuAMBER/" data-tabs="timeline" data-width="" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/noithatchungcuAMBER/" class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/noithatchungcuAMBER/">Nội Thất AMBER</a>
                    </blockquote>
                </div>
            </div>
            
        </div>

    </div>
</div>