.hotlinefix {
    position: fixed;
    bottom: 6px;
    left: 42px;
    z-index: 99;
}

.circle-hotline {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #FFBF00;
    -webkit-transition: height .25s ease, width .25s ease;
    transition: height .25s ease, width .25s ease;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    margin-top: 3px;
    margin-left: -3px;
}

    .circle-hotline span {
        margin: 12px;
        display: inline-block;
    }

    .circle-hotline:before,
    .circle-hotline:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
        border: 1px solid #FFBF00;
    }

    .circle-hotline:before {
        -webkit-animation: ripple 2s linear infinite;
        animation: ripple 2s linear infinite;
    }

    .circle-hotline:after {
        -webkit-animation: ripple 2s linear 1s infinite;
        animation: ripple 2s linear 1s infinite;
    }

    .circle-hotline:hover:before,
    .circle-hotline:hover:after {
        -webkit-animation: none;
        animation: none;
    }

@-webkit-keyframes ripple {
    0% {
        -webkit-transform: scale(1);
    }

    75% {
        -webkit-transform: scale(1.75);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(2);
        opacity: 0;
    }
}

@keyframes ripple {
    0% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.75);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.circle-hotline img {
    width: 50px;
    max-width: 100%;
    height: auto;
}

.hotlinefix .phone {
    font-size: 14px;
    font-weight: bold;
    background: #FFF;
    color: #FFBF00;
    padding: 10px 30px 10px 75px;
    border-radius: 39px;
    left: -30px;
    top: -24px;
    position: absolute;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
}

    .hotlinefix .phone p {
        line-height: 8px;
        margin-top: 6px;
        margin-bottom: 4px;
    }

        .hotlinefix .phone p a {
            font-style: inherit;
            color: #FFBF00;
            text-shadow: none;
            font-size: 15px;
            font-weight: bold;
            text-decoration: none;
        }
