@model List<ExternalAuthenticationMethodModel>
@if (Model.Any())
{
    @*<div class="title">@T("Account.AssociatedExternalAuth.Or")</div>*@
    <div class="title">@T("Account.AssociatedExternalAuth.Title")</div>
}
@foreach (var authenticationMethod in Model)
{
    @await Component.InvokeAsync(authenticationMethod.ViewComponentName)
}