<div class="hotlinefix">
    <span class="phone">    
        <p><a href="tel:@T("Nop.Common.ZaloNumber1")">ZALO: @T("Nop.Common.ZaloNumber1")</a></p>
        <p><a href="tel:@T("Nop.Common.ZaloNumber2")">ZALO: @T("Nop.Common.ZaloNumber2")</a></p>
    </span>
    <div class="circle-hotline">
        <span><img src="@Url.Content("~/Themes/Pavilion/Content/contact-img/hotline.png")"></span>
    </div>
</div>